body {
    background-color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.topbar {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: #333;
    border-radius: 35px;
}

.heading {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    color: whitesmoke;

    td {
        padding: 3px;
    }
}

.heading a {
    color: whitesmoke;
    text-decoration: none;
}

.heading i {
    font-size: 20px; 
    color: whitesmoke
}

.about {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    background-color: lightgrey;
    border-radius: 35px;

    h2 {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 50px;
        margin-right: 50px;
    }

    p {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 75px;
        margin-right: 50px;
    }
}

.lists {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.self-image {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 300px;
    border-radius: 35px;
}
