body {
    background-color: whitesmoke;
}

.topbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333;
    border-radius: 35px;
}

.heading {
    margin-left: 50px;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    font-size: 20px;
    color: whitesmoke;

    td {
        padding: 3px;
    }
}

.heading a {
    color: whitesmoke;
    text-decoration: none;
}

.heading i {
    font-size: 20px; 
    color: whitesmoke
}

.about {
    background-color: lightgrey;
    border-radius: 35px;
    padding: 10px;

    h2 {
        text-indent: 40px;
    }

    p, td {
        text-indent: 20px;
    }
}

.self-image {
    width: 200px;
    height: 300px;
    float: inline-end;
    margin-right: 50px;
    border-radius: 50px;
    background-color: whitesmoke;
    padding: 10px;
}
